/* comments in CSS*/
/*not too bad, might get worse....*/
body {
    padding: 15px;
    background-color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1 {
    color: antiquewhite;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}
