main{
    display: block;
    text-align: center;
}
.header_image{
    display: block;
    margin: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 350px;

}
h4{
    text-align: center;
    margin-bottom: 0%;
    color: rgb(64, 92, 137);
}
h1{
    display: block;
    margin-top: 0%;
}
footer {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: rgb(64, 92, 137);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 0;
}
footer h3 {
    box-sizing: border-box;
    padding: 5px 5px;
    margin: 0 ;
    border: 15px solid rgb(64, 92, 137);
}
